@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700|Righteous);

/* Background: #050505
 * Magenta: #f000b0
 * Cyan: #00ffff
 */
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-color: #050505;
	color: #f000b0;
	font-family: Comfortaa, sans-serif;
	font-size: 110%;
	text-align: center;
}

input {
	background-color: #050505;
	color: #f000b0;
	font-family: Comfortaa, sans-serif;
	border: #050505;
}

h1,
h2 {
	font-family: Righteous, Voces, sans-serif;
}
h1 {
	color: #ffffff;
	font-size: 250%;
}
	h1 .divide {
		color: #f000b0;
		font-size: 120%;
	}
	h1 .conquer {
		color: #00ffff;
		font-size: 120%;
	}
h2 {
	font-size: 200%;
}
		
.menu {
	position: fixed;
	left: 100%;
	top: 0;
	width: 640px;
	height: 480px;
	
	opacity: 0;
	
	background-color: #050505;
	
	-webkit-transition-duration: 0.25s;
	   -moz-transition-duration: 0.25s;
	    -ms-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}
	.menu#mainMenu:not(.active) {
		left: -100%;
	}
	.menu.active {
		left: 0;
		opacity: 1;
	}
	.menu p {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 72px;
	}
	.menu button {
		outline: 0 none;
		border: 3px solid transparent;
		
		-webkit-border-radius: 9px;
		   -moz-border-radius: 9px;
		        border-radius: 9px;
		
		font-family: inherit;
		font-size: 150%;
		background-color: transparent;
		color: #f000b0;
		
		cursor: pointer;
	}
		.menu button:hover,
		.menu button:focus {
			color: #00ffff;
		}
		.menu button:focus {
			border-left: 3px solid #00ffff;
			border-right: 3px solid #00ffff;
		}